version: 2
ethernets:
  enp1s0:
     dhcp4: false
     # default libvirt network
     addresses: [ 10.0.99.VMADDRESS/24 ]
     gateway4: 10.0.99.253
     nameservers:
       addresses: [ 10.0.99.10 ]
       search: [ hl.valueline.io ]
